@media print {
    @page {
        size: a4 portrait;
        margin: 10mm 10mm 20mm 10mm;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 80%;
        white-space: pre;
        color: grey;
        counter-increment: page;
        @bottom-left {
            content: '© Alexander Schilling';
        }
        @bottom-center {
            content: 'Alinex Data Guide';
        }
        @bottom-right {
            content: 'Page ' counter(page);
        }
    }
}
